.THIS .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.THIS .midAlign {
    vertical-align: middle;
}

.THIS .slds-icon_container, .THIS .slds-icon__container {
    padding-right: .5rem;
    padding-left: .5rem;
}

.THIS .libCol2 {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: .2em 0;
}

.THIS.fullBox {
    width: 350px;
    height: 240px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.THIS.fullBox:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}

.THIS .slds-card {
    height: 100%;
}

.THIS .slds-card__header {
     padding: 0;
     margin: 0; 
}

.THIS .slds-card__footer {
    margin-top: 0;
    padding: .75rem;
    height: 20%;
    background: #f9f9fa;
}

.THIS .slds-card__body {
    margin-top: 0;
    margin-bottom: 0; 
    height: 80%;
    text-align: center;
}

.THIS .docPic {
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    .THIS.fullBox {
        width: 100%;
        height: 275px;
        display: block;
        margin: 5px;
    }
}